.row
  .col-lg-9
    .well.bs-component#notes
      = form_for @note do |f|
        - if @note.errors.any?
          #error_explanation
            %h2= "#{pluralize(@note.errors.count, "error")} prohibited this note from being saved:"
            %ul
              - @note.errors.full_messages.each do |msg|
                %li= msg
        %fieldset
          %br
          .form-group
            = f.label t("notes.index.title"), class: 'col-lg-2 control-label'
            .col-lg-10
              = f.text_field :title, class: "form-control"
          .form-group
            = f.label t("notes.tag_and_warning"), class: 'col-lg-2 control-label'
            .col-lg-10
              = f.text_field :tag_list, class: "form-control"
          .form-group
            = f.label t("notes.index.content"), class: 'col-lg-2 control-label'
            .col-lg-10
              = f.text_area :content, placeholder: t("users.edit.placeholder"), class: 'form-control'
          .form-group
            .col-lg-10.col-lg-offset-2
              %br
              = f.submit "Save", id: "submit", class: "btn btn-default"
