.note-form
  = form_for @note do |f|
    - if @note.errors.any?
      #error_explanation
        %h2= "#{pluralize(@note.errors.size, "error")} prohibited this note from being saved:"
        %ul
          - @note.errors.full_messages.each do |msg|
            %li= msg
    %fieldset
      %br
      .title-new
        .form-group
          = f.text_field :title, class: "form-control", placeholder: t("notes.index.title")
      .tag-list-new
        .form-group
          = f.text_field :tag_list, class: "form-control", placeholder: t("notes.tag_and_warning")
      .content-new
        .form-group
          = f.text_area :content, class: 'form-control', placeholder: t("notes.index.content")
      .submit-new
        .form-group
          = f.submit t('common.post'), id: "new-submit", class: "btn btn-primary"
