- if signed_in?
  .form
    = render "form"

- if @notes
  - @notes.each do |note|
    .post-block
      - if is_this_my_note?(note.id)
        .toggeles
          .btn-group
            %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              Action
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                = link_to "Edit", edit_note_path(note)
      .post-detail.clearfix
        .note-profile-image.pull-left
          = image_tag "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/c31.31.391.391/1157476_450075755090354_257513011_n.jpg?oh=203779904cfdbda3fbd1ab32506015ee&oe=547294D9&__gda__=1417793524_599ab9647e3bc7ecda32e2e8f0f2841a", class: 'radius-of-image', size: "47x47"
        .post-information
          .title
            = note.title
          .time-ago-and-edit
            = time_ago_in_words(note.created_at)
            = link_to t('users.created_by', user: note.user.nick_name), user_path(note.user)
      .post-content
        = truncate auto_link(simple_format(note.content)), length: 100, omission: "・・・"
        = link_to note_path(note) do
          - if note.content.to_s.length > 100
            .see-all-text
              = t("users.index.see_all_this_post")
  #navigation
    = paginate @notes
