.block#note-only
  - if signed_in? && @note.this_my_note?
    .toggeles
      .btn-group
        %button.btn.btn-default.dropdown-toggle{ "data-toggle" => "dropdown", type: "button" }
          %span.caret
        %ul.dropdown-menu{role: "menu" }
          %li
            = link_to t('common.edit'), edit_note_path(@note)
          %li
            = link_to t('common.delete'), note_path(@note), method: :delete
    .btn.btn-primary.stock-button.stock-bt{ data: { note_id: @note.id, user_id: @note.user.id, stocked: @note.stocked_by?(current_user).to_s } }
      - stocked_message = @note.stocked_by?(current_user) ? t('common.stocked') : t('notes.stock_this_note')
      = stocked_message
  .detail.clearfix
    .profile-image.pull-left
      = image_tag @note.user.avatar.url, class: 'radius-of-image', size: "47x47"
    .information
      .title
        %h3= @note.title
      .tags
        = t('notes.tag_list')
        - @note.tag_list.split.first.each do |name|
          = link_to name, tag_notes_path(name: name)
      .time-ago-and-edit
        = time_ago_in_words(@note.created_at)
        = link_to t('users.created_by', full_name: @note.user.full_name), user_path(@note.user)
      .number-of-comment
        - number_of_comment = @note.comments.count
        = simple_pluralize(number_of_comment, t("comments.number_of_comment", number_of_comment: @note.comments.count))
    .content
      = simple_format(truncate auto_link(@note.content), length: 100, omission: "-----")
%p
  = "---広告---"
- @note.comments.each do |comment|
  .comment-line.clearfix{ ng_controller: "CommentsCtrl" }
    - if signed_in? && comment.user == current_user
      .toggeles#comment-toggle
        .btn-group
          %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
            %span.caret
          %ul.dropdown-menu{ role: "menu" }
            %li
              = link_to t('common.edit'), edit_comment_path(comment)
            %li
              = link_to t('common.delete'), comment_path(comment), method: :delete
    .comment-content
      = simple_format(auto_link(comment.content))
      - liked_flag = if comment.likes.exists?(user_id: current_user.id)
        - comment.likes.find_by(user_id: current_user.id).liked
    = link_to "javascript:void(0)", ng_click: "send#{liked_flag ? 'Un' : ''}Like(#{comment.id})", class: "#{"liked-bt" if liked_flag}" do
      = fa_icon "thumbs-up"

- if signed_in?
  - comment = current_page?(controller: "comments", action: 'edit') ? @comment : @note.comments.build
  = form_for comment do |f|
    .clearfix
      = f.text_area :content, placeholder: t("comments.comment"), class: 'form-control'
      = f.hidden_field :user_id, value: current_user.id
      = f.hidden_field :note_id, value: comment.note.id

      = f.submit t('common.post'), class: "btn btn-primary", id: "submit-comment"

= link_to "Back", notes_path
