= form_for @feed do |f|
  - if @feed.errors.any?
    #error_explanation
      %h2= "#{pluralize(@feed.errors.count, "error")} prohibited this feed from being saved:"
      %ul
        - @feed.errors.full_messages.each do |msg|
          %li= msg
  .post-block
    .title
      = f.text_field :title, placeholder: 'title'
    .post-form
      = f.text_area :content
    .submit
      = f.submit 'Save', id: 'submit', class: 'btn btn-default'
