%h2= t("users.sign_up")
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label t("users.email")
    %br/
    = f.email_field :email, autofocus: true
  .field
    = f.label t("users.password")
    - if @validatable
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label t("users.confirm")
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .actions
    = f.submit t("users.sign_up")
