%h2= t("users.edit.edit_profile")
.row
  .col-lg-8
    .well.bs-component
      = form_for current_user, class: "form-horizontal", html: { multipart: true } do |f|
        %fieldset
          %br
          .form-group
            = f.label t("users.user_name"), class: 'col-lg-2 control-label'
            .col-lg-10
              = f.text_field :nick_name, class: "form-control"
          .form-group
            = f.label "自己紹介", class: 'col-lg-2 control-label'
            .col-lg-10
              = f.text_area :bio, placeholder: t("users.edit.placeholder"), class: 'form-control'
          .form-group
            = f.label "file", class: 'col-lg-2 control-label'
            .col-lg-10
              = f.file_field :avatar, class: "form-control"
          .form-group
            = f.label "language", class: 'col-lg-2 control-label'
            .col-lg-10
              = f.select :language, User::INTERFACE_LANGUAGE, {}, { class: 'form-control' }
          .form-group
            .col-lg-10.col-lg-offset-2
              = f.submit t("users.edit.submit"), class: "btn btn-primary"
