.block.activity{ class: " #{'unread' if activity.unread}", data: { activity_id: activity.id } }
  .detail.clearfix
    .profile-image.pull-left
      = link_to user_path(activity.trackable.user) do
        = image_tag activity.trackable.user.avatar.url, class: 'radius-of-image', size: "40x40"
    = link_to activity.trackable.note do
      .information
        .notice-message
          = activity.trackable.note.title
          = t('common.is')
          = activity.owner.full_name
          = t('stocks.has_been_stocked')
