%h1.tag-header= t('notes.tag')
- tag_id = ActsAsTaggableOn::Tag.find_by(name: params[:name]).try(:id)

- unless (!user_signed_in? || @user == current_user) && !tag_id
  .follow-bt{ ng_controller: "TagsController" }
    - folloed_flag = if current_user.follow_activities.exists?(user_id: current_user.id)
      - current_user.follow_activities.find_by(target_id: tag_id).try(:followed)
    = link_to "javascript:void(0)", ng_click: "#{folloed_flag ? 'un' : ''}follow(#{tag_id})", id: "follow-bt", class: "#{".follow-bt" if folloed_flag}" do
      = t("followers.button")
= render 'common/notes'
