- user = activity.trackable.user

.block.activity{ ng_controller: 'PublicActivitiesController', class: " #{'unread' if activity.unread}", ng_init: "init(#{activity.id})"  }
  .detail.clearfix{ ng_click: 'update()' }
    .profile-image.pull-left
      = link_to profile_path(user) do
        = image_tag user.avatar.url, class: 'radius-of-image', size: "40x40"
    = link_to profile_path(user) do
      .information
        .notice-message
          = t("followers.follow_you", name: user.full_name)
