- @notes.each do |note|
  .post-block
    - if is_this_my_note?(note.id)
      .toggeles
        .btn-group
          %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            Action
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              = link_to t('common.edit'), edit_note_path(note)
            %li
              = link_to t('common.delete'), note_path(note), method: :delete
    .post-detail.clearfix
      .note-profile-image.pull-left
        = image_tag note.user.avatar.url, class: 'radius-of-image', size: "47x47"
      .post-information
        .title
          = note.title
        .tags
          = t('notes.tag_list')
          - note.tag_list.split.first.each do |name|
            = link_to name, tag_users_path(name: name)
        .time-ago-and-edit
          = time_ago_in_words(note.created_at)
          = link_to t('users.created_by', full_name: note.user.full_name), user_path(note.user)
    .post-content
      = truncate auto_link(simple_format(note.content)), length: 100, omission: "-----"
      = link_to note_path(note) do
        .see-all-text
          = t("users.index.read_this_post")
#navigation
  = paginate @notes
