.block-small-note
  - if user_signed_in? && note.my_note?
    .toggeles
      .btn-group
        %button.btn.btn-default.dropdown-toggle{ "data-toggle" => "dropdown", type: "button" }
          %span.caret
        %ul.dropdown-menu{role: "menu" }
          %li
            = link_to t('common.edit'), edit_note_path(note)
          %li
            = link_to t('common.delete'), note_path(note), method: :delete
  .detail.clearfix
    .profile-image.pull-left
      = link_to profile_path(note.user) do
        = image_tag note.user.avatar.url, class: 'radius-of-image', size: "47x47"
    - if user_signed_in?
      .btn.btn-primary.stock-button.stock-bt{ data: { note_id: note.id, user_id: note.user.id } }
        - stocked_message = note.stocked_by?(current_user) ? t('common.stocked') : t('notes.stock_this_note')
        = stocked_message
    .information
      .title
        = note.title
      .tags
        = t('notes.tag_list')
        - note.tag_list.split.first.each do |name|
          = link_to name, tag_path(name: name)
      %abbr.timeago{ title: note.created_at.getutc.iso8601 }
        = note.created_at.to_s
      = link_to t('users.created_by', nick_name: note.user_nick_name), profile_path(note.user)
  .min-box.clearfix
    .number-of-comment
      - number_of_comment = note.comments.size
      = simple_pluralize(number_of_comment, t("comments.number_of_comment", number_of_comment: number_of_comment))
    .number-of-stock
      - number_of_stock = note.stocks.where(stocked: true).size
      = simple_pluralize(number_of_stock, t("stocks.number_of_stock", number_of_stocks: number_of_stock))
    - unless note.only_page?
      = link_to note_path(note) do
        .see-all-text
          = t("users.index.continue_reading")
  - if note.only_page?
    = render "common/comments", note: note, comment: comment
