.block
  .detail.clearfix
    .profile-image.pull-left
      = link_to profile_path(note.user) do
        = image_tag note.user.avatar.url, class: 'radius-of-image', size: "45x45"
    .information
      .title
        = link_to note.title, note_path(note), class: 'gray-link'
      .tags
        - note.tag_list.split.first.each do |name|
          = link_to name, tag_notes_path(name: name)
    .numbers
      .number-of-comments
        - number_of_comments = note.comments.size
        .counts
          = number_of_comments
        %i.fa.fa-book
        = simple_pluralize(number_of_comments, t("notes.number_of_comments"))
      .number-of-stocks
        - number_of_stocks = note.stocks.where(stocked: true).size
        .counts
          = number_of_stocks
        %i.fa.fa-comment-o
          = simple_pluralize(number_of_stocks, t("notes.number_of_stocks"))
