!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %title= Settings.service.name

    = csrf_meta_tags
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          = link_to Settings.service.name, root_path, class: 'navbar-brand'
        #navbar-main.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              %a{ href: "http://exsample.com" } Exsample
          %ul.nav.navbar-nav.navbar-right
            - if current_user
              %li
                = t('common.show_profile')
                = image_tag(current_user.avatar.url(:thumb),  alt: 'icon', size: '40x40') if @current_user
            %li
              = link_to t('users.login'), '/auth/facebook'
    .container
      #banner.page-header
        .row-fluid
          %br
          = bootstrap_flash

      = yield
