!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %title= Settings.service.name

    = csrf_meta_tags
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          = link_to Settings.service.name, root_path, class: 'navbar-brand'
        #navbar-main.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              %a{ href: "http://exsample.com" } Exsample
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to t('users.login'), '/auth/facebook'
    .container
      #banner.page-header
        .row
      = yield
